<a href="https://colab.research.google.com/github/katekuz/univ/blob/master/continents.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('/content/drive/MyDrive/covid_data/owid-covid-data.xlsx')
worksheet  = gc.open('ukr').get_worksheet(1)
#dfUkr = pd.read_excel('/content/drive/MyDrive/covid_data/ukr.gsheet')
rows = worksheet.get_all_values()
print(rows)

dfUkr = pd.DataFrame.from_records(rows)
#pd.set_option('display.max_rows', None)
dfUkr.drop([1,3,4,5,6,7,8] , axis=1, inplace = True)
dfUkr.drop([0], inplace = True)

dfUkr.head()

[['Дата', 'Кількість підтверджених випадків', 'Кількість нових підтверджених випадків за добу', 'Одужало всього', 'Померло всвього', 'Одужало за добу', 'Померло за добу', 'Медиків всього', 'Медиків за добу'], ['29.02.2020', '1', '1', '', '', '', '', '', ''], ['06.03.2020', '3', '2', '', '', '', '', '', ''], ['09.03.2020', '3', '0', '', '', '', '', '', ''], ['10.03.2020', '4', '1', '', '', '', '', '', ''], ['12.03.2020', '6', '2', '', '', '', '', '', ''], ['13.03.2020', '10', '4', '', '', '', '', '', ''], ['14.03.2020', '13', '3', '', '', '', '', '', ''], ['15.03.2020', '17', '4', '', '', '', '', '', ''], ['16.03.2020', '20', '3', '', '', '', '', '', ''], ['17.03.2020', '22', '2', '', '', '', '', '', ''], ['18.03.2020', '33', '11', '', '', '', '', '', ''], ['19.03.2020', '49', '16', '', '', '', '', '', ''], ['20.03.2020', '70', '21', '', '', '', '', '', ''], ['21.03.2020', '86', '16', '', '', '', '', '', ''], ['22.03.2020', '99', '13', '', '', '', '', '', ''], ['23.03.2020', '106', '7', '', '', '', '', '', ''], ['24.03.2020', '114', '8', '', '', '', '', '', ''], ['25.03.2020', '156', '42', '', '', '', '', '', ''], ['26.03.2020', '218', '62', '', '', '', '', '', ''], ['27.03.2020', '311', '93', '', '', '', '', '', ''], ['28.03.2020', '418', '107', '', '', '', '', '', ''], ['29.03.2020', '480', '62', '6', '2', '6', '2', '', ''], ['30.03.2020', '549', '69', '8', '13', '2', '11', '69', '12'], ['31.03.2020', '669', '120', '10', '17', '2', '4', '89', '20'], ['01.04.2020', '804', '135', '13', '20', '3', '3', '101', '12'], ['02.04.2020', '942', '138', '19', '23', '6', '3', '120', '19'], ['03.04.2020', '1096', '154', '23', '28', '4', '5', '149', '29'], ['04.04.2020', '1251', '155', '25', '32', '2', '4', '164', '15'], ['05.04.2020', '1319', '68', '28', '38', '3', '6', '172', '8'], ['06.04.2020', '1462', '143', '28', '45', '0', '7', '204', '32'], ['07.04.2020', '1668', '206', '35', '52', '7', '7', '238', '34'], ['08.04.2020', '1892', '224', '45', '57', '10', '5', '288', '50'], ['09.04.2020', '2203', '311', '61', '69', '16', '12', '334', '46'], ['10.04.2020', '2511', '308', '79', '73', '18', '4', '390', '56'], ['11.04.2020', '2777', '266', '89', '83', '10', '10', '445', '55'], ['12.04.2020', '3102', '325', '97', '93', '8', '10', '530', '85'], ['13.04.2020', '3372', '270', '119', '98', '22', '5', '594', '64'], ['14.04.2020', '3764', '392', '143', '108', '24', '10', '684', '90'], ['15.04.2020', '4161', '397', '186', '116', '43', '8', '788', '104'], ['16.04.2020', '4662', '501', '246', '125', '60', '9', '879', '91'], ['17.04.2020', '5106', '444', '275', '133', '29', '8', '978', '99'], ['18.04.2020', '5449', '343', '347', '141', '72', '8', '1031', '53'], ['19.04.2020', '5710', '261', '359', '151', '12', '10', '1074', '43'], ['20.04.2020', '6125', '415', '367', '161', '8', '10', '1138', '64'], ['21.04.2020', '6592', '467', '424', '174', '57', '13', '1245', '107'], ['22.04.2020', '7170', '578', '504', '187', '80', '13', '1368', '123'], ['23.04.2020', '7647', '477', '601', '193', '97', '6', '1458', '90'], ['24.04.2020', '8125', '478', '782', '201', '181', '8', '1574', '116'], ['25.04.2020', '8617', '492', '840', '209', '58', '8', '1675', '101'], ['26.04.2020', '9009', '392', '864', '220', '24', '11', '1749', '74'], ['27.04.2020', '9410', '401', '992', '239', '128', '19', '1843', '94'], ['28.04.2020', '9866', '456', '1103', '250', '111', '11', '1976', '133'], ['29.04.2020', '10406', '540', '1238', '261', '135', '11', '2063', '87'], ['30.04.2020', '10861', '455', '1413', '272', '175', '11', '2154', '91'], ['01.05.2020', '11411', '550', '1498', '279', '85', '7', '2250', '96'], ['02.05.2020', '11913', '502', '1547', '288', '49', '9', '2325', '75'], ['03.05.2020', '12331', '418', '1619', '303', '72', '15', '2387', '62'], ['04.05.2020', '12697', '366', '1875', '316', '256', '13', '2479', '92'], ['05.05.2020', '13184', '487', '2097', '327', '222', '11', '2551', '72'], ['06.05.2020', '13691', '507', '2396', '340', '299', '13', '2660', '109'], ['07.05.2020', '14195', '504', '2706', '361', '310', '21', '2758', '98'], ['08.05.2020', '14710', '515', '2909', '376', '203', '15', '2854', '96'], ['09.05.2020', '15232', '522', '3060', '391', '151', '15', '2964', '110'], ['10.05.2020', '15648', '416', '3288', '408', '228', '17', '3026', '62'], ['11.05.2020', '16023', '375', '3373', '425', '85', '17', '3114', '88'], ['12.05.2020', '16425', '402', '3716', '439', '343', '14', '3208', '94'], ['13.05.2020', '16847', '422', '4143', '456', '427', '17', '3278', '70'], ['14.05.2020', '17330', '483', '4473', '476', '330', '20', '3420', '142'], ['15.05.2020', '17858', '528', '4906', '497', '433', '21', '3512', '92'], ['16.05.2020', '18291', '433', '5116', '514', '210', '17', '3569', '57'], ['17.05.2020', '18616', '325', '5276', '535', '160', '21', '3650', '81'], ['18.05.2020', '18876', '260', '5632', '548', '356', '13', '3696', '46'], ['19.05.2020', '19230', '354', '5955', '564', '323', '16', '3757', '61'], ['20.05.2020', '19706', '476', '6227', '579', '272', '15', '3833', '76'], ['21.05.2020', '20148', '442', '6585', '588', '358', '9', '3907', '74'], ['22.05.2020', '20580', '432', '6929', '605', '344', '17', '4000', '93'], ['23.05.2020', '20986', '406', '7108', '617', '179', '12', '4069', '69'], ['24.05.2020', '21245', '259', '7234', '623', '126', '6', '4112', '43'], ['25.05.2020', '21584', '339', '7575', '644', '341', '21', '4183', '71'], ['26.05.2020', '21905', '321', '7995', '658', '420', '14', '4241', '58'], ['27.05.2020', '22382', '477', '8439', '669', '444', '11', '4345', '104'], ['28.05.2020', '22811', '429', '8934', '679', '495', '10', '4411', '66'], ['29.05.2020', '23204', '393', '9311', '696', '377', '17', '4475', '64'], ['30.05.2020', '23672', '468', '9538', '708', '227', '12', '4542', '67'], ['31.05.2020', '24012', '340', '9690', '718', '152', '10', '4621', '79'], ['01.06.2020', '24340', '328', '10078', '727', '388', '9', '4682', '61'], ['02.06.2020', '24823', '483', '10440', '735', '362', '8', '4785', '103'], ['03.06.2020', '25411', '588', '11042', '747', '602', '12', '4888', '103'], ['04.06.2020', '25964', '553', '11372', '762', '330', '15', '4963', '75'], ['05.06.2020', '26514', '550', '11812', '777', '440', '15', '5016', '53'], ['06.06.2020', '26999', '485', '12054', '788', '242', '11', '5050', '34'], ['07.06.2020', '27462', '463', '12195', '797', '141', '9', '5101', '51'], ['08.06.2020', '27856', '394', '12412', '810', '217', '13', '5135', '34'], ['09.06.2020', '28381', '525', '12769', '833', '357', '23', '5184', '49'], ['10.06.2020', '29070', '689', '13141', '854', '372', '21', '5249', '65'], ['11.06.2020', '29753', '683', '13567', '870', '426', '16', '5322', '73'], ['12.06.2020', '30506', '753', '13976', '880', '409', '10', '5446', '124'], ['13.06.2020', '31154', '648', '14082', '889', '106', '9', '5494', '48'], ['14.06.2020', '31810', '656', '14253', '901', '171', '12', '5537', '43'], ['15.06.2020', '32476', '666', '14528', '912', '275', '11', '5600', '63'], ['16.06.2020', '33234', '758', '14943', '943', '415', '31', '5650', '50'], ['17.06.2020', '34063', '829', '15447', '966', '504', '23', '5716', '66'], ['18.06.2020', '34984', '921', '16033', '985', '586', '19', '5877', '161'], ['19.06.2020', '35825', '841', '16406', '994', '373', '9', '5950', '73'], ['20.06.2020', '36560', '735', '16509', '1002', '103', '8', '5998', '48'], ['21.06.2020', '37241', '681', '16642', '1012', '133', '10', '6046', '48'], ['22.06.2020', '38074', '833', '16956', '1035', '314', '23', '6138', '92'], ['23.06.2020', '39014', '940', '17409', '1051', '453', '16', '6243', '105'], ['24.06.2020', '40008', '994', '17758', '1067', '349', '16', '6346', '103'], ['25.06.2020', '41117', '1109', '18299', '1086', '541', '19', '6420', '74'], ['26.06.2020', '42065', '948', '18701', '1110', '402', '24', '6515', '95'], ['27.06.2020', '42982', '917', '18934', '1129', '233', '19', '6580', '65'], ['28.06.2020', '43628', '646', '19027', '1147', '93', '18', '6665', '85'], ['29.06.2020', '44334', '706', '19115', '1159', '88', '12', '6721', '56'], ['30.06.2020', '44998', '664', '19548', '1173', '433', '14', '6765', '44'], ['01.07.2020', '45887', '889', '20053', '1185', '505', '12', '6828', '63'], ['02.07.2020', '46763', '876', '20558', '1212', '505', '27', '6874', '46'], ['03.07.2020', '47677', '914', '21155', '1227', '597', '15', '6937', '63'], ['04.07.2020', '48500', '823', '21376', '1249', '221', '22', '6990', '53'], ['05.07.2020', '49043', '543', '21703', '1262', '327', '13', '7030', '40'], ['06.07.2020', '49607', '564', '22193', '1283', '490', '21', '7046', '16'], ['07.07.2020', '50414', '807', '23119', '1306', '926', '23', '7092', '46'], ['08.07.2020', '51224', '810', '23784', '1327', '665', '21', '7148', '56'], ['09.07.2020', '52043', '819', '24800', '1345', '1016', '18', '7213', '65'], ['10.07.2020', '52843', '800', '25661', '1372', '861', '27', '7261', '48'], ['11.07.2020', '53521', '678', '26118', '1383', '457', '11', '7357', '96'], ['12.07.2020', '54133', '612', '26503', '1398', '385', '15', '7425', '68'], ['13.07.2020', '54771', '638', '27154', '1412', '651', '14', '7499', '74'], ['14.07.2020', '55607', '836', '28131', '1427', '977', '15', '7540', '41'], ['15.07.2020', '56455', '848', '28931', '1445', '800', '18', '7591', '51'], ['16.07.2020', '57264', '809', '29769', '1456', '838', '11', '7723', '132'], ['17.07.2020', '58111', '847', '30525', '1477', '756', '21', '7886', '163'], ['18.07.2020', '58842', '731', '30879', '1485', '354', '8', '7958', '72'], ['19.07.2020', '59493', '651', '31439', '1498', '560', '13', '7985', '27'], ['20.07.2020', '60166', '673', '32199', '1518', '760', '20', '8020', '35'], ['21.07.2020', '60995', '829', '33172', '1534', '973', '16', '8103', '83'], ['22.07.2020', '61851', '856', '34000', '1551', '828', '17', '8153', '50'], ['23.07.2020', '62823', '972', '34886', '1571', '886', '20', '8196', '43'], ['24.07.2020', '63929', '1106', '35497', '1590', '611', '19', '8274', '78'], ['25.07.2020', '64849', '920', '35807', '1605', '310', '15', '8337', '63'], ['26.07.2020', '65656', '807', '36122', '1616', '315', '11', '8380', '43'], ['27.07.2020', '66575', '919', '36744', '1629', '622', '13', '8435', '55'], ['28.07.2020', '67597', '1022', '37394', '1650', '650', '21', '8509', '74'], ['29.07.2020', '68794', '1197', '38154', '1673', '760', '23', '8576', '67'], ['30.07.2020', '69884', '1090', '38752', '1693', '598', '20', '8654', '78'], ['31.07.2020', '71056', '1172', '39308', '1709', '556', '16', '8693', '39'], ['01.08.2020', '72168', '1112', '39543', '1725', '235', '16', '8755', '62'], ['02.08.2020', '73158', '990', '39876', '1738', '333', '13', '8799', '44'], ['03.08.2020', '74219', '1061', '40613', '1764', '737', '26', '8865', '66'], ['04.08.2020', '75490', '1271', '41527', '1788', '914', '24', '8918', '53'], ['05.08.2020', '76808', '1318', '42524', '1819', '997', '31', '8985', '67'], ['06.08.2020', '78261', '1453', '43055', '1852', '531', '33', '9078', '93'], ['07.08.2020', '79750', '1489', '43655', '1879', '600', '27', '9150', '72'], ['08.08.2020', '80949', '1199', '43972', '1897', '317', '18', '9218', '68'], ['09.08.2020', '81957', '1008', '44359', '1922', '387', '25', '9260', '42'], ['10.08.2020', '83115', '1158', '44934', '1951', '575', '29', '9335', '75'], ['11.08.2020', '84548', '1433', '45686', '1970', '752', '19', '9400', '65'], ['12.08.2020', '86140', '1592', '46216', '1992', '530', '22', '9492', '92'], ['13.08.2020', '87872', '1732', '46797', '2011', '581', '19', '9570', '78'], ['14.08.2020', '89719', '1847', '47430', '2044', '633', '33', '9629', '59'], ['15.08.2020', '91356', '1637', '47822', '2070', '392', '26', '9684', '55'], ['16.08.2020', '92820', '1464', '48164', '2089', '342', '19', '9753', '69'], ['17.08.2020', '94436', '1616', '48925', '2116', '761', '27', '9818', '65'], ['18.08.2020', '96403', '1967', '49737', '2144', '812', '28', '9923', '105'], ['19.08.2020', '98537', '2134', '50441', '2184', '704', '40', '10083', '160'], ['20.08.2020', '100643', '2106', '51078', '2207', '637', '23', '10219', '136'], ['21.08.2020', '102971', '2328', '51735', '2244', '657', '37', '10367', '148'], ['22.08.2020', '104958', '1987', '52235', '2271', '500', '27', '10455', '88'], ['23.08.2020', '106757', '1799', '52524', '2293', '289', '22', '10541', '86'], ['24.08.2020', '108415', '1658', '52870', '2318', '346', '25', '10614', '73'], ['25.08.2020', '110085', '1670', '53454', '2354', '584', '36', '10705', '91'], ['26.08.2020', '112059', '1974', '54217', '2403', '763', '49', '10842', '137'], ['27.08.2020', '114497', '2438', '55083', '2451', '866', '48', '10964', '122'], ['28.08.2020', '116978', '2481', '56138', '2492', '1055', '41', '11084', '120'], ['29.08.2020', '119074', '2096', '56734', '2527', '596', '35', '11179', '95'], ['30.08.2020', '121215', '2141', '57114', '2557', '380', '30', '11261', '82'], ['31.08.2020', '123303', '2088', '57802', '2605', '688', '48', '11362', '101'], ['01.09.2020', '125798', '2495', '58817', '2656', '1015', '51', '11498', '136'], ['02.09.2020', '128228', '2430', '59676', '2710', '859', '54', '11635', '137'], ['03.09.2020', '130951', '2723', '60613', '2761', '937', '51', '11754', '119'], ['04.09.2020', '133787', '2836', '61649', '2811', '1036', '50', '11887', '133'], ['05.09.2020', '135894', '2107', '62227', '2846', '578', '35', '11992', '105'], ['06.09.2020', '138068', '2174', '62606', '2877', '379', '31', '12069', '77'], ['07.09.2020', '140479', '2411', '63546', '2934', '940', '57', '12171', '102'], ['08.09.2020', '143030', '2551', '64703', '2979', '1157', '45', '12306', '135'], ['09.09.2020', '145612', '2582', '65877', '3023', '1174', '44', '12463', '157'], ['10.09.2020', '148756', '3144', '67005', '3076', '1128', '53', '12605', '142'], ['11.09.2020', '151859', '3103', '68346', '3148', '1341', '72', '12783', '178'], ['12.09.2020', '154335', '2476', '68893', '3178', '547', '30', '12882', '99'], ['13.09.2020', '156797', '2462', '69543', '3211', '650', '33', '12955', '73'], ['14.09.2020', '159702', '2905', '70810', '3264', '1267', '53', '13100', '145'], ['15.09.2020', '162660', '2958', '72324', '3340', '1514', '76', '13249', '149'], ['16.09.2020', '166244', '3584', '73913', '3400', '1589', '60', '13396', '147'], ['17.09.2020', '169472', '3228', '75486', '3468', '1573', '68', '13558', '162'], ['18.09.2020', '172712', '3240', '76754', '3516', '1268', '48', '13719', '161'], ['19.09.2020', '175678', '2966', '77512', '3557', '758', '41', '13830', '111'], ['20.09.2020', '178353', '2675', '78184', '3583', '672', '26', '13905', '75'], ['21.09.2020', '181237', '2884', '79901', '3642', '1717', '59', '14025', '120'], ['22.09.2020', '184734', '3497', '81670', '3705', '1769', '63', '14165', '140'], ['23.09.2020', '188106', '3372', '83458', '3757', '1788', '52', '14337', '172'], ['24.09.2020', '191671', '3565', '85133', '3827', '1675', '70', '14492', '155'], ['25.09.2020', '195504', '3833', '86873', '3903', '1740', '76', '14683', '191'], ['26.09.2020', '198634', '3130', '87882', '3959', '1009', '56', '14799', '116'], ['27.09.2020', '201305', '2671', '88453', '3996', '571', '37', '14921', '122'], ['28.09.2020', '204932', '3627', '90250', '4065', '1797', '69', '15079', '158'], ['29.09.2020', '208959', '4027', '92360', '4129', '2110', '64', '15250', '171'], ['30.09.2020', '213028', '4069', '94398', '4193', '2038', '64', '15538', '288'], ['01.10.2020', '217661', '4633', '96591', '4261', '2193', '68', '15809', '271'], ['02.10.2020', '222322', '4661', '98737', '4353', '2146', '92', '16055', '246'], ['03.10.2020', '226462', '4140', '100107', '4397', '1370', '44', '16231', '176'], ['04.10.2020', '230236', '3774', '101252', '4430', '1145', '33', '16387', '156'], ['05.10.2020', '234584', '4348', '103401', '4520', '2149', '90', '16613', '226'], ['06.10.2020', '239337', '4753', '105970', '4597', '2569', '77', '16864', '251'], ['07.10.2020', '244734', '5397', '108233', '4690', '2263', '93', '17109', '245'], ['08.10.2020', '250538', '5804', '110650', '4779', '2417', '89', '17393', '284'], ['09.10.2020', '256266', '5728', '112570', '4887', '1920', '108', '17596', '203'], ['10.10.2020', '261034', '4768', '113507', '4972', '937', '85', '17756', '160'], ['11.10.2020', '265454', '4420', '114410', '5015', '903', '43', '17922', '166'], ['12.10.2020', '270587', '5133', '116562', '5122', '2152', '107', '18156', '234'], ['13.10.2020', '276177', '5590', '118699', '5229', '2137', '107', '18408', '252'], ['14.10.2020', '281239', '5062', '119650', '5302', '951', '73', '18607', '199'], ['15.10.2020', '287231', '5992', '121919', '5408', '2269', '106', '18845', '238'], ['16.10.2020', '293641', '6410', '124113', '5517', '2194', '109', '19204', '359'], ['17.10.2020', '298872', '5231', '125377', '5607', '1264', '90', '19388', '184'], ['18.10.2020', '303638', '4766', '126489', '5673', '1112', '66', '19595', '207'], ['19.10.2020', '309107', '5469', '129533', '5786', '3044', '113', '19809', '214'], ['20.10.2020', '315826', '6719', '132219', '5927', '2686', '141', '20174', '365'], ['21.10.2020', '322879', '7053', '134898', '6043', '2679', '116', '20528', '354'], ['22.10.2020', '330396', '7517', '137578', '6164', '2680', '121', '20884', '356'], ['23.10.2020', '337410', '7014', '139755', '6289', '2177', '125', '21160', '276'], ['24.10.2020', '343498', '6088', '141508', '6391', '1753', '102', '21349', '189'], ['25.10.2020', '348924', '5426', '142537', '6464', '1029', '73', '21531', '182'], ['26.10.2020', '355601', '6677', '145336', '6590', '2799', '126', '21812', '281'], ['27.10.2020', '363075', '7474', '148642', '6755', '3306', '165', '22287', '475'], ['28.10.2020', '370417', '7342', '151632', '6868', '2990', '113', '22650', '363'], ['29.10.2020', '378729', '8312', '155026', '7041', '3394', '173', '23046', '396'], ['30.10.2020', '387481', '8752', '158928', '7196', '3902', '155', '23383', '337'], ['31.10.2020', '395440', '7959', '161441', '7306', '2513', '110', '23636', '253'], ['01.11.2020', '402194', '6754', '163768', '7375', '2327', '69', '23891', '255'], ['02.11.2020', '411093', '8899', '168868', '7532', '5100', '157', '24292', '401'], ['03.11.2020', '420617', '9524', '176404', '7731', '7536', '199', '24700', '408'], ['04.11.2020', '430467', '9850', '184782', '7924', '8378', '193', '25214', '514'], ['05.11.2020', '440188', '9721', '195544', '8125', '10762', '201', '25682', '468'], ['06.11.2020', '450934', '10746', '204229', '8312', '8685', '187', '26201', '519'], ['07.11.2020', '460331', '9397', '206866', '8450', '2637', '138', '26527', '326'], ['08.11.2020', '469018', '8687', '209143', '8565', '2277', '115', '26848', '321'], ['09.11.2020', '479197', '10179', '214657', '8756', '5514', '191', '27265', '417'], ['10.11.2020', '489808', '10611', '221459', '8947', '6802', '191', '27758', '493'], ['11.11.2020', '500865', '11057', '227694', '9145', '6235', '198', '28322', '564'], ['12.11.2020', '512652', '11787', '233849', '9317', '6155', '172', '28877', '555'], ['13.11.2020', '525176', '12524', '238811', '9508', '4962', '191', '29373', '496'], ['14.11.2020', '535857', '10681', '241444', '9603', '2633', '95', '29764', '391'], ['15.11.2020', '545689', '9832', '244197', '9697', '2753', '94', '30124', '360'], ['16.11.2020', '557657', '11968', '250983', '9856', '6786', '159', '30689', '565'], ['17.11.2020', '570153', '12496', '259079', '10112', '8096', '256', '31218', '529'], ['18.11.2020', '583510', '13357', '266479', '10369', '7400', '257', '31891', '673'], ['19.11.2020', '598085', '14575', '274324', '10598', '7845', '229', '32504', '613'], ['20.11.2020', '612665', '14580', '282313', '10813', '7989', '215', '33094', '590'], ['21.11.2020', '624744', '12079', '286917', '10951', '4604', '138', '33469', '375'], ['22.11.2020', '635689', '10945', '291060', '11075', '4143', '124', '33916', '447'], ['23.11.2020', '647976', '12287', '299358', '11263', '8298', '188', '34486', '570'], ['24.11.2020', '661858', '13882', '307778', '11492', '8420', '229', '35101', '615'], ['25.11.2020', '677189', '15331', '317395', '11717', '9617', '225', '35707', '606'], ['26.11.2020', '693407', '16218', '326238', '1190

            0  2
1  29.02.2020  1
2  06.03.2020  2
3  09.03.2020  0
4  10.03.2020  1
5  12.03.2020  2

In [ ]:
dfUkr.set_axis(['date', 'Ukraine'], axis=1, inplace=True)
dfUkr

           date Ukraine
1    29.02.2020       1
2    06.03.2020       2
3    09.03.2020       0
4    10.03.2020       1
5    12.03.2020       2
..          ...     ...
425  06.05.2021    8404
426  07.05.2021    8710
427  08.05.2021    5372
428  09.05.2021    2817
429  10.05.2021    2208

[429 rows x 2 columns]

In [ ]:
dfUkr['Ukraine'] = pd.to_numeric(dfUkr['Ukraine'])
dfUkr['Ukraine'] = dfUkr['Ukraine']*100000/38085266

In [ ]:
#dfOld[dfOld['location'] == 'Andorra']

In [ ]:
#df[df['new_cases'] < 0]
#df[df['new_cases'].isna]
#df[df['location']=='World']['continent'].isna().all()
#pd.set_option('display.max_rows', None)
df[df['location'] == 'Sweden']

      iso_code continent  ... life_expectancy human_development_index
75661      SWE    Europe  ...            82.8                   0.945
75662      SWE    Europe  ...            82.8                   0.945
75663      SWE    Europe  ...            82.8                   0.945
75664      SWE    Europe  ...            82.8                   0.945
75665      SWE    Europe  ...            82.8                   0.945
...        ...       ...  ...             ...                     ...
76121      SWE    Europe  ...            82.8                   0.945
76122      SWE    Europe  ...            82.8                   0.945
76123      SWE    Europe  ...            82.8                   0.945
76124      SWE    Europe  ...            82.8                   0.945
76125      SWE    Europe  ...            82.8                   0.945

[465 rows x 59 columns]

In [ ]:
#dfCont['Asia'] = sum(df[df['continent']=='Asia'])
df.dropna(subset = ['iso_code','continent'], inplace=True)
df.fillna(0, inplace=True)

df['date1'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')
df = df.sort_values(by = ['location', 'date1'])    #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!CHANGES
df.drop(columns=['date1'], inplace = True)
df = df.reset_index()
#df

In [ ]:
#DROP WITHOUT ISO
dates = df['date'].unique().tolist()
countries = df['location'].unique().tolist()
continents = df['continent'].unique().tolist()
countries_map = {}

In [ ]:
def summarize(a):
  x = 0 
  for i in a:
    x = x + i
  return x 

def correctOWID(df):  
  for index, row in df.iterrows():
      z = row['location']
      cases_country = row['new_cases']
      indexes_to_update = []
      #population_country = datecontcountdf['population'].sum()
      if(True and (cases_country == 0 or np.isnan(cases_country))):
          temp_index = index
          indexes_to_update = [index]
          while(df.at[temp_index, 'new_cases'] == 0 and df.at[temp_index, 'location'] == z):
            temp_index += 1 
            indexes_to_update = indexes_to_update + [temp_index]
          if(df.at[temp_index, 'location'] == z):
            summ = df.at[temp_index, 'new_cases']
            if(summ < 0):
              if(z in countries_map):
                last_days = countries_map[z]
                if(len(last_days[-7:]) == 0):
                    avg = 0
                else:
                    avg = summarize(last_days[-7:])/len(last_days[-7:])
                summ = round(avg)
            cases_country = round(summ / len(indexes_to_update))
            for i in indexes_to_update:
              df.at[i, 'new_cases'] = cases_country
          else:
            if(z in countries_map):
              last_days = countries_map[z]
              if(len(last_days[-7:]) == 0):
                  avg = 0
              else:
                  avg = summarize(last_days[-7:])/len(last_days[-7:])
              cases_country = round(avg)
            else:
              cases_country = 0
            #print(cases_country)
            df.at[index, 'new_cases'] = cases_country     
      else:
        if(cases_country < 0):        
          if(z in countries_map):
              last_days = countries_map[z]
              if(len(last_days[-7:]) == 0):
                  avg = 0
              else:
                  avg = summarize(last_days[-7:])/len(last_days[-7:])
              cases_country = round(avg)
          else:
              cases_country = 0
          #print(cases_country)
          df.at[index, 'new_cases'] = cases_country    
      if(z in countries_map):
          countries_map[z] = countries_map[z]+[cases_country]
      else:
          cases_country = 0    
          countries_map[z] = [cases_country] 
   
  return df

In [ ]:
df = correctOWID(df)
#df[df['new_cases']<0]

In [ ]:
df.to_excel("correctedOWID.xlsx", index = False)

In [ ]:
#====================================================================================================

In [ ]:
#SUM BY CONTINENT
data = []
df['date1'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')
df = df.sort_values(by = ['date1'])    #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!CHANGES
dates = df['date'].unique().tolist()
countries = df['location'].unique().tolist()
continents = df['continent'].unique().tolist()
df.drop(columns=['date1'], inplace = True)
for x in dates:
    to_append = [x]
    datedf = df[df['date']==x]
    cases = []
    population = []
    #print(x)
    for y in continents:
        datecontdf = datedf[datedf['continent'] == y]
        countries = datecontdf.location.unique()
        cases = cases + [datecontdf['new_cases'].sum()]
        population = population + [datecontdf['population'].sum()]
        #print(y)
        to_append = to_append+[100000*cases[-1]/population[-1]]
    to_append = to_append+[datedf['new_cases'].sum()*100000/datedf['population'].sum()]
    #to_append = to_append+[datedf[datedf['location']== 'Ukraine']['new_cases'].sum()*100000/datedf[datedf['location']== 'Ukraine']['population'].sum()]
    data = data + [(to_append)]
data = pd.DataFrame(data, columns = ['date']+continents+['World'])#, 'Ukraine'
#data.to_excel("conts.xlsx")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in double_scalars

In [ ]:
data

           date  North America  South America  ...   Oceania    Africa      World
0    2020-01-01       0.000000       0.000000  ...       NaN       NaN   0.000000
1    2020-01-02       0.000000       0.000000  ...       NaN       NaN   0.000000
2    2020-01-03       0.000000       0.000000  ...       NaN       NaN   0.000000
3    2020-01-04       0.000000       0.000000  ...       NaN       NaN   0.000000
4    2020-01-05       0.000000       0.000000  ...       NaN       NaN   0.000000
..          ...            ...            ...  ...       ...       ...        ...
491  2021-05-06      11.101477      31.805920  ...  0.457476  0.774036  11.106900
492  2021-05-07      11.081241      33.866053  ...  0.327456  0.752226  10.894285
493  2021-05-08       8.576830      29.012148  ...  0.327456  0.722498  10.249499
494  2021-05-09       5.763692      19.813101  ...  0.305787  0.676189   8.504653
495  2021-05-10       8.658293      17.611723  ...  0.305787  0.537411   7.906493

[496 rows x 8 columns]

In [ ]:
data['date1'] = pd.to_datetime(data['date'])
#data['date1'] = data['date1'].dt.strftime('%d.%m.%Y')
dfUkr['date1'] = pd.to_datetime(dfUkr['date'], format='%d.%m.%Y')
#dfUkr['date1'] = dfUkr['date1'].dt.strftime('%d.%m.%Y')
dataMerged = pd.merge(data, dfUkr, how='outer', on='date1')

dates = df['date'].unique().tolist()
dataMerged.drop(columns=['date_x', 'date_y'], inplace = True)

In [ ]:
dataMerged.tail(10)

     North America  South America       Asia  ...      World      date1    Ukraine
486      10.299444      28.827461  10.846657  ...  10.555978 2021-05-01  13.375251
487       7.084449      18.026862  10.282186  ...   8.791426 2021-05-02   7.241646
488      11.426786      15.480967   9.971968  ...   8.558930 2021-05-03   6.490699
489       9.619308      31.602880  10.610526  ...  10.304124 2021-05-04   6.763771
490      10.688422      29.687941  11.214123  ...  10.862177 2021-05-05  15.853900
491      11.101477      31.805920  11.375841  ...  11.106900 2021-05-06  22.066276
492      11.081241      33.866053  10.974802  ...  10.894285 2021-05-07  22.869737
493       8.576830      29.012148  10.837369  ...  10.249499 2021-05-08  14.105192
494       5.763692      19.813101   9.882884  ...   8.504653 2021-05-09   7.396561
495       8.658293      17.611723   9.079549  ...   7.906493 2021-05-10   5.797518

[10 rows x 9 columns]

In [ ]:
data[data['date']=='2021-01-09']

           date  North America  South America  ...    Africa      World      date1
374  2021-01-09      50.230443      23.614637  ...  2.681975  10.018445 2021-01-09

[1 rows x 9 columns]

In [ ]:
dataMerged.set_index(['date1'],inplace=True)
dataMerged = dataMerged.rolling(window = 7).mean()

In [ ]:
dataMerged

            North America  South America  ...      World    Ukraine
date1                                     ...
2020-01-01            NaN            NaN  ...        NaN        NaN
2020-01-02            NaN            NaN  ...        NaN        NaN
2020-01-03            NaN            NaN  ...        NaN        NaN
2020-01-04            NaN            NaN  ...        NaN        NaN
2020-01-05            NaN            NaN  ...        NaN        NaN
...                   ...            ...  ...        ...        ...
2021-05-06      10.493298      26.599566  ...  10.203090  13.462649
2021-05-07      10.185875      27.042583  ...  10.153403  13.523040
2021-05-08       9.939787      27.068967  ...  10.109620  13.627317
2021-05-09       9.751108      27.324144  ...  10.068653  13.649448
2021-05-10       9.355609      27.628538  ...   9.975447  13.550422

[496 rows x 8 columns]

In [ ]:
#for x in dfOut.columns:
#    dfOut[x] = dfOut[x].rolling(window = 7).mean()

In [ ]:
dataMerged.to_excel("conts.xlsx")

In [ ]:
#plt.figure(figsize=(25, 20))
#----------
plt.plot(dataMerged)#['date1'], dataMerged['Asia'], dataMerged['Ukraine'])
plt.legend(dataMerged.columns)
plt.xticks(np.arange(0, len(dataMerged)+1, 14))
plt.xticks(rotation = 90)

plt.show()
plt.savefig('continents.png')

ValueError: ignored

In [ ]:
bigCountries = ['Ukraine', 'Sweden', 'France','Czech Republic','Spain','Portugal','Netherlands','Italy',
                'United Kingdom','Belgium','Poland','Romania','Greece','Russia','Germany']

In [ ]:
df['date1'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')
df = df.sort_values(by = ['date1'])    #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!CHANGES
dates = df['date'].unique().tolist()
df.drop(columns=['date1'], inplace = True)
dfBigCountries = df[df['location'].isin(bigCountries)]
last7days = dates[-7:]
last14days = dates[-14:]
df7 = dfBigCountries[dfBigCountries['date'].isin(last7days)]
df7

       index iso_code  ... life_expectancy human_development_index
7611    8539      BEL  ...           81.63                   0.931
37284  39619      ITA  ...           83.51                   0.892
70610  74336      ESP  ...           83.56                   0.904
60123  63405      POL  ...           78.73                   0.880
61906  65188      RUS  ...           72.58                   0.824
...      ...      ...  ...             ...                     ...
61446  64728      ROU  ...           76.05                   0.828
61912  65194      RUS  ...           72.58                   0.824
29855  31731      GRC  ...           82.24                   0.888
28873  30749      DEU  ...           81.33                   0.947
27120  28996      FRA  ...           82.66                   0.901

[98 rows x 60 columns]

In [ ]:
#-------------------------------------------
for index, row in df.iterrows():
    z = row['location']
    cases_country = row['new_cases']
    #population_country = datecontcountdf['population'].sum()
    if(cases_country < 0 or np.isnan(cases_country)):
        #print(cases_country)
        if(z in countries_map):
            last_days = countries_map[z]
            if(len(last_days[-7:]) == 0):
                avg = 0
            else:
                avg = sum(last_days[-7:])/len(last_days[-7:])
            cases_country = round(avg)
        else:
            avg = 0
        #print(cases_country)
        df.at[index, 'new_cases'] = cases_country    
    if(z in countries_map):
        countries_map[z] = countries_map[z]+[cases_country]
    else:
        cases_country = 0    
        countries_map[z] = [cases_country]